apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: ecommerce
data:
  DB_HOST: mysql
  DB_PORT: "3306"
  DB_NAME: ecommerce_db
  DB_USER: root
  PORT: "5000"
---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: ecommerce
type: Opaque
stringData:
  DB_PASSWORD: root
  JWT_SECRET: your-super-secret-jwt-key-change-this-in-production
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: mariemsouadi12189/project-backend:latest
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secret
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: ecommerce
spec:
  type: ClusterIP
  ports:
    - port: 5000
  selector:
    app: backend
